
/* Menu */
.nav{
    display: flex;
    flex-direction: column;
    grid-column: 0/3;
    width: 187px;
    height: 100vh;
    max-width: 256px!important;
    min-width: 256px!important;
    margin-left: -20px;
    margin: -1 !important;
    background-color:#FCFCFC;
    color:#4F4F4F;
}
.nav a{
    color:#4F4F4F;
    text-decoration: none;
}
.nav a:hover{
    color:#12741F;
    font-weight: 400;
}
.nav ul {
    list-style: none;
    text-align: center;
}
.nav ul li{
    padding: 24px 0;
}

/*Navbar imagem*/
.nav div{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img {
    width: auto;
    padding:0 0 0 35px;
  

}

/* Selecionar pagina atual*/
.pagina-atual{
    background-color:#D8F9DD;
    color:#12741F;
    font-weight: 400;
}

.logout:hover{
    background-color:#F1A0A0 !important;
    color:#5B0000 !important;
    transition: 1s !important;
}


.logout li:active{
    background-color:#F1A0A0 !important;
}

/**/



/*menu-suspenso*/

.menu{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 2% 4%;
    font-size:1rem;
}

.suspenso{
   padding: 0 2%; 
   display: flex;
   justify-content: left;
   align-items: center;
   position: absolute;
   
}

.suspenso ul{
    background-color:#FBFBFB;
    color:#DBDBDB;
    font-weight: 300;
    list-style:none;
    display:flex;
    justify-content: space-around;
    width: 625px;
    padding:16px 100px;
    border-radius: 80px;
}

.suspenso ul li{
    color:#DBDBDB ;
    position: relative;
    
}

.suspenso ul a{
    text-decoration: none;
}
.box-menu{
    display: flex;
    justify-content: right;
    align-items: right;
    margin: -152px 0 0 0;
    padding: 0 2%;
}



/*Selecionar aba atual*/
.aba-atual{
    background-color:#A0F1AB;
    color:#0C5816;
    border-radius:24px;
    font-weight: 500;
    text-decoration: none;
    padding: 1% 6%;
    margin-top: -4px;
}


.aba-atual li{
    color:#0C5816 !important;
}

#menu-sm{
    display:none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(247, 247, 247, 0.973);
    position: absolute;
    z-index: 2000;
    margin: 0;
    padding: 0;
}

.nav--sm{
    display: none;
}

.nav--aba{
    display: none;
   }

@media (min-width:200px) and (max-width:800px){
    .nav{
        display: none !important;
    }

    .nav--sm{
        display: flex;
        position: absolute;
        margin:32px 0 0 12px;
    }
        
    .nav--aba{
        display: none;
        width: 99vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        margin: 0;
        z-index:4;
        padding: 0;
    }
    .nav--aba ul a{
       text-decoration: none;
    }
    .nav--aba ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    .nav--aba ul li{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100vw;
        height: 80px;
        color:black;
    }
    .nav--aba button{
        font-size:0.9rem;
        position: absolute;
        border-radius: 16px;
        padding: 4px 10px;
        outline:none;
        border: 1px solid #e68d8d;
        margin: 5px 16px;
        right:0;
        color:#FBFBFB;
        background-color: #F1A0A0;
    }

    .header{
        
    }

    .nav-sm{
        margin: 16px 8px 0 8px;
        border-radius: 32px;
        position: absolute;
        padding:14px;
        background: url(/img/linhas-menu.svg) no-repeat center;
        background-size: 18px;
    }

    /* Menu */
        .nav-sm-active{
            display: flex;
            flex-direction: column;
            justify-content: center;
           margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            height: 100vh;
           /*  max-width: 256px!important;
            min-width: 256px!important; */
            
            
            background-color:#FCFCFC;
            color:#4F4F4F;
        }
        .nav-sm-active a{
            color:#4F4F4F;
            text-decoration: none;
        }
        .nav-sm-active a:hover{
            color:#12741F;
            font-weight: 400;
        }
        .nav-sm-active ul {
            list-style: none;
            text-align: center;
            padding: 0;
        }
        .nav-sm-active ul li{
            padding: 24px 0;
        }

        /*Navbar imagem*/
        .nav-sm-active div{
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-sm-active img {
            width: auto;
            padding:0 0 0 35px;
        

        }

        .esc{
            display: block;
            padding: 12px;
            border:1px solid #5B0000;
            border-radius: 32px;
            margin-top:16px;
            margin-left: 8px;
            background: url(/img/esc.svg) no-repeat center;
            background-size: 12px;
            position: absolute;
            transition-timing-function: linear;
            transition: 1s;
        }
}