.box-add-new-departament{
    width:1000px;
    padding: 40px 32px 100px 40px  ;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius:32px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 56px 0 32px 0;
}

.box-add-new-departament h5{
    font-size: 1rem;
    color: #666666;
    font-weight: 600;
}

.box-add-new-departament input{
    border:1px solid #A3A5AA;
    color: #6F727A;
    width: 48vw;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 1%;
    outline: none !important;
}



.box-add-new-departament input:focus{
    border:1px solid #c0cabc;
}

.box-add-new-departament button{
    width: 180px;
    font-size: 16px;
    padding: 8px 16px;
    margin:0;
    font-weight: 500;
    border-radius: 16px;
}



.add-departament table th{
    text-align: left;
    padding-left:150px;
    font-size: 1rem;
}



.add-departament table tr td{
    width: 21px;
    padding: 0 300px 0 0;
    
}

/**/

.box-add-new-member p{
    margin:3px 0 0 0;
}


.box-add-new-member{
    border:1px solid #A3A5AA;
    color: #6F727A;
    background-color: #ffffff;
    width:auto;
    padding: 40px 32px 100px 40px;
    border-radius: 16px;
}

.box-add-new-member input{
    border: 1px solid #B7B9B9;
    border-radius: 8px;
    outline: none !important;
   
}
.box-add-new-member a{
    color: rgba(183, 185, 185, 0.8);
    font-size: 14px;
}

.box-add-new-member a:hover{
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
    color: rgba(72, 204, 11, 0.8);
}


.box-add-new-member input::placeholder{
        color: #4d4d4d46;}



.box-add-new-member input:focus{
    border: 1px solid #4b4b4b;
    font-size: 1rem;
    font-weight: 400;
    height: 32px !important;/* 
    width: 250px !important; */
}


.box-add-new-member select{
    color: #4d4d4d46;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px !important;
    max-width: auto;
    border: 1px solid #B7B9B9 !important;
    height: 32px !important;
    border-radius: 8px;
}


.edit-profile{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    background: url(/img/profile-2.png) no-repeat center;
    background-position: center;
    background-size: 100px;
    position: absolute;
    margin: -100px 0 0 0;
}

.profile{
    background: url(/img/profile.png) repeat center !important;
    background-size:contain !important;
}

.alt svg{
    margin: 7px 0 0 -22px !important;
    position: absolute;

}
