.card-requeriment{
    width: 850px;
    border-radius:16px;
}



.card-requeriment h4{
    font-family: 'Poppins', sans-serif !important;
}


.icon-help{
    stroke: 1px solid #717171;
    margin: -6px 0 0 2px;
    
}

/**/

.i-arrow{
    background-color: #ffffff;
    position: absolute;
    margin:-40px 0 0 234px;
    pointer-events: none;
}


.i-arrow-number{
    background-color: #ffffff;
    position: absolute;
    margin:-44px 0 0 152px;
    pointer-events: none;
}


.card-requeriment input{
    border: 1px solid #c0c0c0;
    box-shadow: none !important;
    width: 350px;
}


.card-requeriment input:focus{
    border: 1px solid #c0c0c0;
    
}

.card-requeriment .box-select-item select{
    border:1px solid #c0c0c0 !important;
    height: 40px;
    width: 234px;
    border-radius: 8px;
    color: #DADADA;
}


.card-requeriment .box-select-item select:focus{
    font-weight: 400 !important;
}


.icon-select-requeriment{
    margin: 12px 0 0 -24px !important;
   
}

.icon-select-requeriment svg{
    width: 40px !important;
}

.number-requeriment select{
    width: 150px !important;
}

.radio-select-requeriment{
    display: flex;
    align-items: center;
    width: 150px;
    margin:4px 0 0 0;
    color: #DADADA;
}   


.radio-select-requeriment input[radio]{
    border:1px solid #DADADA;
}

.text-area-requeriment{
    margin:-62px 0 0 0;
    background-color: #ffffff !important;
}

.box-calendar{
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px;
    margin: 12px 0 0 8px;
    position: absolute;
    color: #b1b1b1;
}

/**/

.select-product input{
    width:100%;
}

.btn-add button {
    background-color:#E7F9FB;
    color:#4EBFD9;
    border:2px solid #4EBFD9;
    width: 43px;
    height: 40px;
    border-radius:8px;
    font-size: 24px;
    margin:28px 0 0 0;
    padding: 0 0 6px 0 ;
}

#box-product{
    display: none;
}




/**/
.select2-container--default .select2-selection--single  {
    margin: -1px 0 0 0;
    border: 1px solid #c0c0c0;
    height: 40px !important;
    border-radius:8px;
    
}

.select2-selection__rendered{
    height: 40px !important;
    color: #c0c0c0 !important;
    padding: 4px 0 0 0;
    font-weight:400!important;
    outline: none !important;
    font-family: 'Inter';
}

input{
    color:#c0c0c0 !important;
    outline: none !important;
}

input[type=search]:focus{
    outline: none !important;
    color: #696969 !important;
}

input[type=search]::selection{
    outline: none !important;
}

.i-search{
    width: 22px !important;
    background-color: #ffffff;
    display: block;
    position: absolute;
    margin: -37px 0 0 208px;
    pointer-events:none;
}

.i-search-title{
    width: 22px !important;
    background-color: #ffffff;
    display: block;
    position: absolute;
    margin: -36px 0 0 822px;
    pointer-events:none;
}

.dinheiro{
    color: #696969;
    font-weight: 300;
    font-size: 0.998rem;
    position: absolute;
    background-color: #ffffff;
    margin: 8px 0 0 4px;
}

.money{
    
    padding: 0 0 0 28px !important;
    height: 37px;
}

/***/

.card-add-new-product{
    width: 700px !important;
    border-radius:16px;
    border: 1px solid #6F727A;
    height: 400px;
    padding:50px 20px 0px 20px;
}


.card-add-new-product input{
    width: 100%;
}

.add-pt{
    margin:10px 0 0 -120px !important;
}

/**/

.btn-edit{
    text-decoration: none;
    padding: 4px 18px;
    background-color: #D8F9DD;
    color:#158424;
    border-radius: 16px;
}


.btn-edit:hover{
    color:#158424;
}
.btn-trash{
    text-decoration: none;
    padding: 4px 18px;
    background-color: #F5AAAA;
    color:#ffffff;
    border-radius: 16px;
}
.btn-trash:hover{
    
    color:#ffffff;
}


.list-product{
    cursor: pointer;
}

/**/

.card-feedback{
    width: 800px;
    height: auto;
    border-radius: 16px;
    padding: 50px 80px 130px 50px;
    position: absolute;
    background-color: white;
    box-shadow: #00000048 8px 8px 8px;
}


.btn-edit{
    padding: 4px 16px;
    background-color:#ffffff;
    color:#FF9900;
    border-radius: 8px;
    border:2px solid #FF9900;
}


.btn-edit:hover{
    color:#FF9900;
}

.btn-aproved{
    padding: 4px 16px;
    background-color:#A0F1AB;
    color:#025B00;
    border-radius: 8px;
    border: none;
}

.btn-aproved a{
    color:#025B00;
    text-decoration: none;
}


.btn-aproved a:hover{
    color:#025B00;
    text-decoration: none;
}


.box-btn{
    width: 380px;
}

.btn-trash{
    padding: 4px 16px;
    background-color:#F1A0A0;
    color:#5B0000;
    border-radius: 8px;
    border: none;
}





.btn-trash a{
    color:#5B0000;
    text-decoration: none;
}

.btn-trash a:hover{
    color:#5B0000;
    text-decoration: none;
}

.wallpaper{
    display: block;
   
    background-color: rgb(78, 78, 78);
    position:absolute;
    z-index: 5000; 
    background-color:rgba(0, 0, 0, 0.301); 
    height: 99.9vh; 
    width:99vw;

}

