.box-add-edit-departament{
    background-color: #ffffff;
    width: 700px;
    padding: 40px 20px;
    border-radius:16px;
    height: auto;
    border: 1px solid #a1a1a1;
}

.box-add-edit-departament p{
    margin:1px 0 0 0;
    color:#4d4d4d;
}

.box-add-edit-departament input{
    border: 1px solid #B7B9B9;
    border-radius: 8px;
    padding: 1%;
    height: 40px;
    outline: none !important;
    padding: 0 8px;
    width: 100%;
}

.box-add-edit-departament input:focus{
    border: 1px solid #9b9b9b;
}

.box-add-edit-departament .btn-select{
    border-radius: 8px !important;
    border: 1px solid #acacac;
    height: 40px;
}

.box-add input{
    width:280px;
}

.icon-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 56px;
    height: 36px;
    padding: 2px 4px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #a1a1a1;
}

.icon-number span{
    font-size:0.9rem;
}


.add-apart {
   background-color: #D8F9DD;
   color: #025B00;
   border-radius: 8px;
   border:none;
   padding: 8px 20px;
   font-size: 15px;
}

@media (min-width:250px) and (max-width:800px){
 /*    .box-add-edit-departament{
        width: 99vw !important;
        padding: 32px 0 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        border:none;
    } */

    .box-add-edit-departament{
        display:none
    }

    .detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size:1rem;
    }

    .detail h5{
        margin: 28px 0 0 58px;
       
    }

    .icon-number{
        margin:0 0 16px 0;
    }

   .sm-n{
    display: flex;
    flex-direction: column;
        width: 90vw;
      
    }

    .sm-n table{
        width: 50vw;
    }

    .sm-n .detail-depart-adm{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:32px 0 0 0;
    }

    .detail-depart-adm .input-search{
        margin:32px 0;
    }

}