.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
}
.login input{
    border:1px solid #B7B9B9;
    width: 343px;
    height: 40px;
    border-radius:8px;
    color:rgba(183, 185, 185, 0.486);
}
.login input:enabled{
    border: 1px solid #929292;
    box-shadow: none;
}

.login input:focus{
    border: 1px solid #57d46c;
}
.background-login{
    width: 60vw;
    height: auto;
    background: url(/img/bg-login.png) no-repeat;
    z-index: -1;
    border: 4px solid #ffffff;
}


.card-login{
    /* position: absolute; */
    z-index: 2;
    display: block;
    width: 650px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: #00000041 4px 4px 8px;
    border-radius: 32px 32px 0 0;
    margin: 1vw 0 0 32vw;
    padding: 4% 4%  4%  4%;
    text-align: center;
}

.card-login p{
    font-size: 1rem;
}

.card-login #logo{
    width: 180px;
}

.eye-icon{
    display: block;
    position: absolute;
    margin:5px 0 0 320px;
}

.title-login{
    margin:50px 0 0 0;
    font-size: 14px;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #666666;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom:1px solid #DADADA;
  }

   .active, .accordion:hover {
    background-color: rgb(255, 255, 255); 
    border-bottom:none;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    border-bottom:1px solid #DADADA;
    overflow: hidden;
  }

  .panel p {
      font-size:14px;
      text-align: left;
      color: #727272;
      font-weight: 300;
  }
  
  .panel ul{
      font-size:14px;
      color:#666666;
  }


  .svg-icon{
      display: flex;
      justify-content: space-between;
      justify-items: space-between;
      align-items: center;
      width: 100%;
      height: 16px;
  }

  .loginlogo{
      display:block;
      visibility: visible;
  } 