.card-notification{
    border-bottom: 1px solid #C6CEDA;
    font-size: 14px;
    text-align: right;
    display: flex;
    justify-content: right;
    padding: 14px 0;
}

.notion header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notion header h4{
    margin:18px 0 0 0;
}

.card-notification{
    width: 90vw;
    
}