.bg-table{
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 0 20%;
    
    font-size:14px;
    align-items: center;
    font-weight: 400;
    font-family: 'Inter';
    text-align: center;
}


.table-light-green thead{
    background-color: #D8F9DD;
    color: #0C5816;
    height: 80px;
    width: 500px;
  
}

.table-light-green thead img{
    width: 8px;
    cursor: pointer;
}


.table-light-green tbody tr th{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#666666;
    
}

tbody:hover tr:hover {
    padding: 20px 0;
    border-width: 2px;
    color: #000000;
    height: 40px;
    transition: 1s;
}

tr:active {
    border-width: 8px ;
}
    
    



.select-style-green{
    background:url(/img/arrow-down-blue-.png) no-repeat center;
    width: 16px;
    overflow: hidden;
}

.select-style-green select{
    background:transparent !important;
    width: 16px;
    height: 24px;
    padding:8px;
    border: none;
    -webkit-appearance: none;
    outline: none !important;
}


.select-style-green:active{
    background:url(/img/180deg.png) no-repeat center;
}

.select-style-green::before{
    background:url(/img/180deg.png) no-repeat center;
}
.select-style-green::after{
    background:url(/img/180deg.png) no-repeat center;
}

.select-style-green:focus{
    background:url(/img/180deg.png) no-repeat center;
}