#cardlist{
    display: none;
    color:#717171;
}
.table-list{
    color:#717171 !important;
}

.table-list tbody tr td{
    font-weight: 300;

}

.link-produt a {
    color:#C0B33F;
}

.del-item{
    width: 40px;
    height: 40px;
    border-radius: 80px;
    background-color: #F5AAAA;
    display:flex;
    justify-content: center;
    align-items: center;
}